/*.log
*.gem
*.rbc
.bundle
.config
.DS_Store
envs/*.env
!envs/example.env
.rspec
.sass-cache
.yardoc
.zeus.sock
_yardoc
cookbooks
coverage
db/*.sqlite*
doc
erd.pdf
InstalledFiles
lib/bundler/man
log/*.log
pkg
public
rdoc
rspec.xml
spec/reports
test/tmp
test/version_tmp
tmp
tmp/*
vendor/bundle
.ignore/*
.db_backup/*
.pryrc
*.swp

!config/
config/*
!config/fish/
config/fish/*
!config/fish/config.fish
