/*.log
*.gem
*.rbc
.bundle
.config
.DS_Store
envs/*.env
!envs/example.env
.rspec
.sass-cache
.yardoc
.zeus.sock
_yardoc
config/asdf
cookbooks
coverage
db/*.sqlite*
doc
erd.pdf
InstalledFiles
lib/bundler/man
log/*.log
pkg
public
rdoc
rspec.xml
spec/reports
test/tmp
test/version_tmp
tmp
tmp/*
vendor/bundle
.ignore/*
.db_backup/*
.pryrc
*.swp

# Ensure we don't accidentially check in certain history files,
# if they happen to get linked into the dotfiles source repo location
config/psql/history-*

erl_crash.dump